@page "/subjects"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SIMS.Model
@inject IDbContextFactory<SIMS.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="subjects/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Subjects.Include(m=>m.Major)">
    <PropertyColumn Property="subjects => subjects.Name" />
    <PropertyColumn Property="subjects => subjects.Code" />
    <PropertyColumn Property="subjects => subjects.Major.Name" Title="Major Name" />

    <TemplateColumn Context="subjects">
        <a href="@($"subjects/edit?id={subjects.Id}")"><i class="fa-solid fa-pen-to-square"></i></a> |
        <a href="@($"subjects/details?id={subjects.Id}")"><i class="fa-solid fa-circle-info"></i></a> |
        <a href="@($"subjects/delete?id={subjects.Id}")"><i class="fa-solid fa-delete-left"></i></a>
    </TemplateColumn>
</QuickGrid>
